* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Abel", sans-serif;
  font-family: "Pacifico", "cursive";
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

header {
  background-color: lightblue;
  border-bottom: 2px dashed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

h1 {
  flex: none;
  font-family: "Pacifico", "cursive";
  font-size: 300%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}

.user-input {
  height: 80%;
  width: 80%;
}

.user-header {
  display: flex;
  height: 20px;
  justify-content: space-between;
  margin-bottom: 2%;
  padding: 0% 10%;
}

.favorite-page-button,
.home-page-button,
.tag-page-button,
.to-cook-page-button {
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 30px;
  padding-left: 35px;
}

.favorite-page-button,
.home-page-button,
.to-cook-page-button,
.tag-page-button {
  background-color: lightblue;
  border: none;
  font-family: "Pacifico", "cursive";
  font-size: 120%;
}

.favorite-page-button:hover,
.home-page-button:hover,
.tag-page-button:hover,
.to-cook-page-button:hover  {
  text-decoration: underline;
}

.dropdpwn {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: #f1f1f1;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 120px;
  padding: 1%;
  position: absolute;
  z-index: 1;
}

.tag-button {
  background-color: #f1f1f1;
  border: none;
  font-size: 17px;
}

.dropdown:hover
.dropdown-content {
  display: block;
}

.search-header {
  display: flex;
  justify-content: space-between;
  height: 0px;
  width: 280px;
}

.search-input {
  border: 2px solid;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  font-size: 90%;
  height: 35px;
  padding: 2%;
  width: 100%;
}

.search-button {
  background-color: lightgray;
  background-image: url("../assets/icons8-search-64.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid;
  border-radius: 0px 10px 10px 0px;
  height: 35px;
  width: 47px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  background-color: white;
  border: 3px solid;
  border-radius: 10px;
  height: auto;
  margin: 3% 1%;
  overflow-wrap: break-word;
  width: 298px;
}

.food-image {
  border-bottom: 2px solid;
  border-top: 2px solid;
  height: 250px;
  object-fit: cover;
  width: 292px;
}

.recipe-name {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  padding: 0% 3%;
  justify-content: center;
  overflow: scroll;
  text-align: center;
}

.recipe-list {
  border: 6px double lightblue;
  height: 100px;
  overflow: scroll;
  width: 292px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.active-favorite-button,
.active-to-cook-button ,
.cook-button,
.favorite-button {
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin: 2%;
  padding: 6%;
}


.cook-button {
  background-image: url("../assets/icons8-cooker-50.png");

}

.favorite-button {
  background-image: url("../assets/icons8-heart-50.png");

}

.active-favorite-button,
.favorite-page-button {
  background-image: url("../assets/icons8-heart-50-2.png");
}

.active-to-cook-button,
.to-cook-page-button {
  background-image: url("../assets/icons8-cooker-50-2.png");
}

.home-page-button {
  background-image: url("../assets/icons8-home-50.png");
}

.tag-page-button {
  background-image: url("../assets/icons8-bulleted-list-50.png");
  background-size: 30px 30px;
  margin-bottom: -25px;
}

body {
  background-image: url("https://png.pngtree.com/png-vector/20190318/ourlarge/pngtree-food-doodle-seamless-pattern-png-image_858332.jpg");
  background: linear-gradient( rgba(255, 255, 255, .7), rgba(255, 255, 255, 0.7)), url("https://png.pngtree.com/png-vector/20190318/ourlarge/pngtree-food-doodle-seamless-pattern-png-image_858332.jpg");
  background-repeat: repeat;
  background-size: 300px;
  border-top: 1px solid;
  height: auto;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  header {
    padding: 0px;
    font-size: 10px;
    height: 150px;
  }

  h1 {
    margin-top: -40px;
    /* margin-bottom: -50px; */
  }

  .favorite-page-button,
  .home-page-button,
  .to-cook-page-button,
  .tag-page-button {
    font-size: 10px;
    margin-top: -7px;
  }

  .search-header {
    width: 50%;
    height: 20px;
  }

  .search-input {
    height: 25px;
  }

  .search-button {
    height: 25px;
  }
}
